:root {
    font-size: 62.5%;
    --font:'Roboto', sans-serif;
    --bg-color: hsl(229, 46%, 29%);
    --span-color: hsl(200, 100%, 61%);
    --txt-color-alt: #3542bb;
    --txt-blue: #4da4b9;
    --btn-form: #20AD96;
    --black-txt: #292828;
    --bg-grey: #e9e9e9;

    /* font-size */
    --small-font: 1.4rem;
    --medium-font: 1.8rem;
    --mid-font: 2rem;
    --large-font: 2.7rem;
    --big-font: 6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: var(--font);
}

.top {
    background: var(--bg-color);
    color: white;
}

.logo {
    padding-top: 8rem;
}

.title-prin {
    font-size: 3.2rem;
    margin: 1rem;
    padding: 0 1rem;
}

.title-prin span {
    color: var(--span-color);
}

.zap {
    background-image: linear-gradient(45deg, #3A7E69 0%, #06A0A2 100%);

}

.center {
    display: flex;
    justify-content: center;
}

.small-text {
    font-size: var(--small-font);
}

.txt-center {
    text-align: center;
}

.medium-text {
    font-size: var(--medium-font);
    padding: 1rem;
}

.mid-text {
    font-size: var(--mid-font)
}

.large-text {
    font-size: var(--large-font)
}

.txt-blue {
    color: var(--txt-blue);
}

.black-text {
    color: var(--black-txt);
}

button {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 4.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    margin: 1rem auto;
}

.text-roxo {
    color: var(--txt-color-alt)
}

button img {
    width: 2.1rem;
    margin-right:1rem ;
}

.btn-form {
    background: var(--btn-form);
}

.border {
    border: 1px solid var(--txt-blue);
}

form {
    background-color: white;
    margin: 1.1rem;
    border-radius: 1rem;
    padding: 1.4rem;
}

form h2 {
    margin: 1.5rem;
    font-size: 2.7rem;
}

.input {
    width: 98%;
    padding: 1.9rem;
    margin: 1rem auto;
    border-radius: 1rem;
    border: 1px solid var(--txt-blue);
}

.adv img {
    width: 90%;
    margin: 1rem auto;
}

.marca img {
    width: 2.1rem;
}

.marca h1 {
    margin-bottom: 3rem;
}

.marca .small-text {
    padding-left: 2.5rem ;
    color: #2c2b2b;
    font-size: 1.5rem;
    margin-bottom: 2.5rem ;
    font-weight: 300;
}

.marca .mid-text {
    color: #000000;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.marcas {
    margin: 1.3rem;
}

.flex {
    display: flex;
    justify-content: flex-start;
}

.flex img {
    padding-right: .5rem ;
}

.bg-grey {
    background-color: var(--bg-grey);
    padding: 10rem 1rem 6rem 1rem;
}

.four-step article {
    background-color: white;
}

.four-step article, .anos article {
    border-radius: 1rem;
    padding: 1.4rem;
    margin: .3rem .4rem 3rem ;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.178);
}

.four-step .large-number {
    font-size: 5.2rem;
    color: var(--bg-grey);
    text-align: right;
}

.logos {
    margin-top: -3rem;
    width: 5.6rem;
}

.four-step .medium-text {
    padding: 2rem auto;
}

.four-step .small-text {
    padding: 3rem 1rem;
}


.anos article {
    background-color: #0A132E;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(245, 245, 245);
}

.anos article:first-child {
    background-image: url('assets/equipe.jpg');
}

.anos article:last-child {
    background-image: url('assets/paper.jpg');
}

.anos article .big-txt {
    font-size: var(--big-font);
    padding: 2rem;
}

.anos article .mid-text, 
.anos article .small-text {
    padding-bottom: 2rem;
}

.anos article .small-text {
    line-height: 2.5rem;
    font-weight: 300;
}

.bloco {
    background-color: white;
    padding: 6rem 1.2rem 6rem 1.2rem;
}

.bloco section {
    background-color: var(--bg-grey);
    padding: 8rem 2rem 0 2rem;
    border-radius: .4rem;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.178);
}

.info p, .info button {
    margin-bottom: 3rem;
}


.fala {
    display: flex;
}

.fala img {
    width: 10rem
}

.falador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}